# ===== Maven / Build Logs =====
maven-output.log
deps-verbose.txt

# ===== TestNG / Test Output Logs =====
test-output.log

# ===== Test Output & Reports =====
test-output/
target/
reports/
screenshots/
logs/

# ===== IDE =====
.classpath
.project
.settings/
.idea/
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
