<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RegressionSuite" parallel="methods" thread-count="1">

	<test name="ParallelTest">
		<classes>
			<class name="m1.SelectDemo" />
			<class name="m1.MuliSelectDemo" />
			<class name="m1.AlertDemoTest" />
			<class name="m1.NestedFrameTest" />
			<class name="m1.WindowHandleDemo" />
			<class name="m1.IFrameTestDemo" />
			<class name="m1.ActionsDemoTest" />
			<class name="m1.LinksDemoTest" />
			<class name="m1.WebTablesDemo" />
			<class name="m1.DatePickerDemoTest" />
			<class name="m1.DifferentWaysToRefresh" />
			<class name="m1.KeyboardActionsDemoTest" />
			<class name="m1.TooltipDemoTest" />
			<class name="m1.FileUploadDemoTest" />
			<class name="m1.AutoSuggestionDemoTest" />
			<class name="m1.DymamicWebTable" />
			<class name="m1.DynamicButtonDemoTest" />
			<class name="m1.PaginationDemoTest" />
			<class name="m1.SearchProductAcrossPages" />
			<class name="m1.ScrollingDropDownTest" />
		</classes>
	</test>

	<listeners>
		<listener class-name="listeners.ExtentListener" />
	</listeners>

</suite>
