<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Suite" parallel="none">

	<test name="CosmocodeTesting">

		<classes>
			<class name="m1.PrintingEuroCurrencyNames" />
			<class name="m1.StoringCurrencyCountInMap" />
		</classes>

	</test>

	<listeners>
		<listener class-name="listeners.ExtentListener" />
	</listeners>

</suite>
