<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SingleBrowserSuite" parallel="none">

	<test name="Run All Tests in Package m1">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="m1.ShadowDOMDemoTest" />
		</classes>

	</test>

	<listeners>
		<listener class-name="listeners.ExtentListener" />
	</listeners>

</suite>
